.panel #jukebox{
    color: #376472;
}

body{
    /*background-color: #f2c4c5;*/
    background-color: black;
    background-image: url(../img/background/jukebox_1.jpg);
    background-size: cover;
    transition: 0.3s ease;
}

#left-toggle-bg{
    position: fixed;
    z-index: 200;
    transform: scale(5, 5);
    transition: 0.3s ease;
    left: 30px;
    top: 50%;
    color: #fff;
    opacity: 90%;
}

#right-toggle-bg{
    position: fixed;
    z-index: 200;
    transform: scale(5, 5);
    transition: 0.3s ease;
    right: 30px;
    top: 50%;
    color: #fff;
    opacity: 90%;
}

#right-toggle-bg:hover,#left-toggle-bg:hover{
    cursor: pointer;
    transform: scale(5.3, 5.3);
    color: #EEE;
    opacity: 100%;
}

*:focus
{
    outline: none;
}

.player-cover{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 430px;
    height: 100px;
    margin: -4px auto;
}

.player{
    position: relative;
    height: 100%;
    z-index: 3;
}

.player-content{
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
}

.player-control{
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
}

.control{
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

.button{
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}


.button i{
    display: block;
    color: #272929;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    transition: 0.2s ease all;
}

.button:hover
{
    background-color: #272929;
}

.button:hover i
{
    color: #fff;
}

.disc{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
    animation: rotation 10s linear infinite;
    animation-play-state: paused;
}

@keyframes rotation {
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(3600deg);
    }
}

.outer{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 10;
    background: radial-gradient(#d6dee7, black, #101012);
}

.inner-disc{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff;
}

#inner-img{
    width: 100%;
    height: 100%;
}

.inner-1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #717475;
}

.player-info{
    position: absolute;
    bottom: 0;
    height: 70%;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #fff7f7;
    border-radius:0 0 15px 15px ;
    transition: 0.3s ease bottom;
    z-index: 1;
}

.player-info.active{
    bottom:  -88px;
}

.track-name{
    margin: 0 auto;
    color: #030303;
    font-size: 14px;
    font-weight: bold;
    height: 17px;
}

.album-name{
    color: #101010;
    font-style: oblique;
    font-size: 10px;
    margin: 0 auto;
    height: 13px;
}

#like{
    position: absolute;
    left: 13px;
    bottom: 10px;
}

#like i{
    position: relative;
    left: 25%;
    font-size: 50px;
}

#like i:hover{
    color: red;
    cursor: pointer;
}

#like #like-count{
    font-size: 15px;
    font-style: italic;
    text-shadow: 1px 1px 1px 1px #010101;
}

.progress-bar{
    position: relative;
    width: 200px;
    font-size: 11px;
    font-family: "Courgette";
    margin-top: 8px;

}

.progress-bar .current-time{
    position:absolute;
    left: 0;
}

.progress-bar .duration-time{
    position:absolute;
    right: 0;
}

.progress-bar .bar-outer{
    position: absolute;
    top: 21px;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 5px;
    background-color: grey;
}

.progress-bar .bar-outer:hover{
    cursor: pointer;
}

.progress-bar .bar-inner{
    position: absolute;
    top: 0px;
    border-radius: 5px;
    overflow: hidden;
    width: 0%;
    height: 5px;
    background-color: black;
}

HR{
    position: relative;
    margin: 40px;
    top: 500px;
    opacity: 0;
}

.play-list{
  position: relative;
  margin: 40px auto;
  top: 500px;
  width: 1516px;
}

.selection-poster{
  float: left;
  min-width: 200px;
  margin: 48px;
  width: 200px;
  height: 200px;
  transition: 0.3s ease;
  border: 2px #ffffff solid;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
}

.selection-poster .description{
  z-index: 5;
  font-color: white;
  font-family: "Courgette";
  font-style: italic;
  font-size: 10px;
  line-height: 20px;
  position: relative;
  top: 45%;
  left: 1px;
  margin: 0 auto;
  background-color: white;
}

.poster_1{
  background-image: url(../img/album/71Gt46aX9Z4-MQ.jpg);
}

.poster_2{
  background-image: url(../img/album/Q_4e2-SzEpc-MQ.jpg);
}

.poster_3{
  background-image: url(../img/album/Sm8q1q9Oqn0-MQ.jpg);
}

.poster_4{
  background-image: url(../img/album/Bcus42ihkTI-MQ.jpg);
}

.poster_5{
  background-image: url(../img/album/H6CRxNr5b5E-MQ.jpg);
}

.poster_6{
  background-image: url(../img/album/yDjNyK0KqmE-MQ.jpg);
}

.poster_7{
  background-image: url(../img/album/EM-BB020-CW-copy-e1624811209405.jpg);
}

.poster_8{
  background-image: url(../img/album/11WUKW5ISfs-MQ.jpg);
}

.poster_9{
  background-image: url(../img/album/9_2FrmeV_Yg-MQ.jpg);
}

.poster_10{
  background-image: url(../img/album/Yftyjsm7JNA-MQ.jpg);
}

.selection-poster:hover{
  border: 2px red solid;
  cursor: pointer;
  animation: rotation 50s linear infinite;
}

.selection-poster.selected{
  border: 2px red solid;
}