.panel #video{
    color: #376472;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 0px;
  background-color: #000; }
  .videoWrapper43 {
    padding-top: 75%; }
  .videoWrapper169 {
    padding-top: 56%; }

video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; }

HR{
  margin: 40px auto;
}

.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  z-index: 10;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s; }
  .videoPoster:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid #fff;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms; }
  .videoPoster:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -10px;
    border-left: 40px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms; }
  .videoPoster:hover:before, .videoPoster:focus:before {
    border-color: #f00; }
  .videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: #f00; }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms; }

body {
  background-color: #010101;
  background-image: url('../img/background/video.jpg');
  background-size: cover;
  font-family: avenir,sans-serif; 
  z-index: -100;}

main {
  max-width: 800px;
  padding-top: 70px;
  margin: 0px auto; }

.play-list{
  margin: 40px auto;
  width: 1200px;
  height: auto;
}

.selection-poster{
  float: left;
  margin: 40px;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
  border: 2px #ffffff solid;
}

.selection-poster .description{
  z-index: 5;
  font-color: white;
  font-family: "Courgette";
  font-size: 20px;
  line-height: 20px;
  position: relative;
  top: 40%;
  margin: 0 auto;
  background-color: white;
}

.poster_1{
  background-image: url(../img/poster/baby_please_dont_leave_me.jpg);
}

.poster_2{
  background-image: url(../img/poster/rc_in_studio.jpg);
}

.poster_3{
  background-image: url(../img/poster/the_thrill_is_gone_2010.jpg);
}

.poster_4{
  background-image: url(../img/poster/i_put_a_spell_on_you.jpg);
}

.poster_5{
  background-image: url(../img/poster/time_makes_two.jpg);
}

.poster_6{
  background-image: url(../img/poster/aint_no_sunshine.jpg);
}


.selection-poster:hover{
  border: 2px red solid;
  cursor: pointer;
}

.selection-poster.selected{
  border: 2px red solid;
}

/*# sourceMappingURL=video.css.map */
