<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/general.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/contact.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/css/general.css">
	<link rel="stylesheet" type="text/css" href="../static/css/contact_thanks.css">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">
	<script type="text/javascript" src="../static/js/jquery-3.6.0.js"></script>
	<title>Contact</title>
</head>
<body scroll="auto">
	<div class="main-header">
		<h1 id="logo">Contact</h1>
		<div class='panel'>
			<a href='./home.html' id='home'><strong>HOME</strong></a>
			<a href='./jukebox.html' id='jukebox'><strong>JUKEBOX</strong></a>
			<a href="./bio.html" id='bio'><strong>BIO</strong></a>
			<a href="./gallery.html" id='gallery'><strong>GALLERY</strong></a>
			<a href='./video.html' id='video'><strong>VIDEO</strong></a>
			<a href="./contact.html" id='contact_header'><strong>CONTACT</strong></a>
		</div>
	</div>

 <!-- From Header -->

 <section class="box main-page">
  <div class="wrapper">
  <div class="title-info">
    <h3 class="author">Mark Manson</h3>
    <h1 class="title-name">Thanks<br> for <br>reaching out to me!</h1>
   </div>
    <a class="home-href" href='./home.html' style="text-decoration : none">BACK TO HOMEPAGE</a>
  </div>
</section>

<section class="box content">
  <div class="wrapper ">
    	<p>Music is also used for what you say, not just for entertainment, but also for accompanying us while we perform other missions. 
    	<p>My passion is coding, and my habit of listening to blues while doing it produces amazing results because of the simple fact that it motivates and ignites the imagination.</p> 
    	<p>I do not own the copyrigt to the images and music on this website, and it is not profitable. It serves the purpose of entertainment and enjoyment for beautiful music. If it is necessary to remove it will be removed. THANK YOU !!!</p>
    <img src="../static/img/hiway-signs.png">
  </div>
</section>


<section class="box comments">
  <h3>Comments (<strong id='comment-count'>0</strong>)</h3>

  <div class='refresh-button'>
  		<i class='fa fa-refresh'></i>
  </div>
  
  <div class="comment-view">
  	<h4 class='comment-name'>
 
  	</h4>
  	<span class='comment-time'>

  	</span>
  	<p class="comment-text">

  	</p>
  </div>

  <div class="comment-view">
  	<h4 class='comment-name'>

  	</h4>
		<span class='comment-time'>

		</span>
  	<p class='comment-text'>
 
  	</p>
  </div>

  <div class="comment-view">
  	<h4 class='comment-name'>

  	</h4>
  <span class='comment-time'>

	</span>
  	<p class='comment-text'>

  	</p>
  </div>

  <div class="comment-view">
  	<h4 class='comment-name'>

  	</h4>
  	<span class='comment-time'>

  	</span>
  	<p class='comment-text'>

  	</p>
  </div>
  
  <div>
  	
  </div>
</section>

<script type="text/javascript" src='../static/js/contact_success.js'></script>
<script type="text/javascript" src='../static/js/header.js'></script>

</body>
</html>