<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/general.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/css/general.css">
	<link rel="stylesheet" type="text/css" href="../static/css/home.css">
	<title>Home Page</title>
</head>
<body scroll="auto">
	<div class="main-header">
		<h1 id="logo"><strong>HOME</strong></h1>
		<div class='panel'>
			<a href='./home.html' id='home'><strong>HOME</strong></a>
			<a href='./jukebox.html' id='jukebox'><strong>JUKEBOX</strong></a>
			<a href="./bio.html" id='bio'><strong>BIO</strong></a>
			<a href="./gallery.html" id='gallery'><strong>GALLERY</strong></a>
			<a href='./video.html' id='video'><strong>VIDEO</strong></a>
			<a href="./contact.html" id='contact'><strong>CONTACT</strong></a>
		</div>
	</div>

	<div class='front-image'>
    	<p class='caption'>HOME</p>
    	<p class='caption-description'>Welcome to the land where blues began.</p>
 	</div>

</body>
</html>