<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/general.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/css/general.css">
	<link rel="stylesheet" type="text/css" href="../static/css/home.css">
	<title>Home Page</title>
	<script type="text/javascript" src="../static/js/jquery-3.6.0.js"></script>
</head>
<body scroll="auto">
	<div class="main-header">
		<h1 id="logo"><strong>HOME</strong></h1>
		<div class='panel'>
			<a href='./home.html' id='home'><strong>HOME</strong></a>
			<a href='./jukebox.html' id='jukebox'><strong>JUKEBOX</strong></a>
			<a href="./bio.html" id='bio'><strong>BIO</strong></a>
			<a href="./gallery.html" id='gallery'><strong>GALLERY</strong></a>
			<a href='./video.html' id='video'><strong>VIDEO</strong></a>
			<a href="./contact.html" id='contact'><strong>CONTACT</strong></a>
		</div>
	</div>

<div class="container">
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">The Devil's Music</p>
      <p class="content-subtitle">Everything About The Blues</p>
      <div class='audio-control'>
		<i class='fa fa-play'></i>
	  </div>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">Going Way Down To Mississippi</p>
      <p class="content-subtitle">Visit <strong><a href="./bio.html"><font color=white>Bio</font></a></strong> And Find Out the origin of the Blues</p>
      <div class='audio-control'>
		<i class='fa fa-play'></i>
	  </div>
    </div>
  </section>
  <section class="background">
    <div class="content-wrapper">
      <p class="content-title">TEST</p>
      <p class="content-subtitle"><a><strong>hover</strong></a>TEST SUB</p>
      <div class='audio-control'>
		<i class='fa fa-play'></i>
	  </div>
    </div>
  </section>
</div>

<script type="text/javascript" src="../static/js/header.js"></script>
<script type="text/javascript" src="../static/js/home.js"></script>
</body>
</html>