<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/general.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jukebox.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/css/general.css">
	<link rel="stylesheet" type="text/css" href="../static/css/jukebox.css">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">
	<script type="text/javascript" src="../static/js/jquery-3.6.0.js"></script>

	<title>Home Page</title>
</head>
<body scroll="auto">
	<div class="main-header">
		<h1 id="logo"><strong>JUKEBOX</strong></h1>
		<div class='panel'>
			<a href='./home.html' id='home'><strong>HOME</strong></a>
			<a href='./jukebox.html' id='jukebox'><strong>JUKEBOX</strong></a>
			<a href="./bio.html" id='bio'><strong>BIO</strong></a>
			<a href="./gallery.html" id='gallery'><strong>GALLERY</strong></a>
			<a href='./video.html' id='video'><strong>VIDEO</strong></a>
			<a href="./contact.html" id='contact'><strong>CONTACT</strong></a>
		</div>
	</div>

	<div id='left-toggle-bg'>
		<i class='fa fa-caret-left'></i>
	</div>

	<div id='right-toggle-bg'>
		<i class='fa fa-caret-right'></i>
	</div>

	<div class='player-cover'>			
		<div class="player">
			<div class="player-content">
				<div class="player-control">
					<div class='control'>
						<div href="#" class='button' id='playBackward'><i class="fa fa-backward"></i></div>
					</div>
					<div class='control'>
						<div href="#" class='button' id='playPause'><i class="fa fa-play-circle"></i></div>
					</div>
					<div class='control'>
						<div href="#" class='button' id='playForward'><i class="fa fa-forward"></i></div>
					</div>
				</div>

				<div class='disc'>
					<div class='outer'>
						<div class='inner-1'>
							<div class='inner-disc'>
								<img src="../static/img/disc2.jpg" id='inner-img'>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class='player-info'>
				<div class='track-name'>
				</div>

				<div class='album-name'>
				</div>

				<div id='like'>
					<i class='fa fa-thumbs-up'>
					</i>
					<div style="font-family: Courgette; width: 200px; font-size: 8px; position: relative; left: 0;">
						This Track Has Been Liked For: <b id='like-count'>0</b>  Times!
					</div>
				</div>

				<div class='progress-bar'>
					<div class='current-time'>
					</div>
					<div class='duration-time'>
					</div>
					<div class='bar-outer'>
						<div class='bar-inner'>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="90%" color=#ffffff SIZE=4>

<div class='play-list'>
	<div class='selection-poster  poster_1'><a href='../static/audio/the_sky_is_crying_gary_bb_coleman.mp3'></a><p class='description'><i class="track"> "The Sky Is Crying"</i> - <i class='album'>Gary B.B. Coleman - Too Much Weekend</i></p></div>


	<div class='selection-poster  poster_2'><a href='../static/audio/the_sky_is_crying_gary_bb_coleman.mp3'></a><p class='description'><i class="track"> "The Sky Is Crying2"</i> - <i class='album'>Gary B.B. Coleman2 - Too Much Weekend</i></p></div>

	<div class='selection-poster  poster_3'><a href='../static/audio/riviera_paradise_srv.mp3'></a><p class='description'><i class="track"> "Riviera Paradise"</i> - <i class='album'>Stevie Ray Vaughan - In Step</i></p></div>

</div>

	<script type="text/javascript" src="../static/js/player.js"></script>
	<script type="text/javascript" src="../static/js/toggleBG.js"></script>
</body>
</html>