<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/general.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/video.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/css/general.css">
	<link rel="stylesheet" type="text/css" href="../static/css/video.css">
	<script type="text/javascript" src='../static/js/jquery-3.6.0.js'></script>
	<title>Video</title>
</head>
<body scroll="auto">
	<div class="main-header">
		<h1 id="logo"><strong>VIDEO</strong></h1>
		<div class='panel'>
			<a href='./home.html' id='home'><strong>HOME</strong></a>
			<a href='./jukebox.html' id='jukebox'><strong>JUKEBOX</strong></a>
			<a href="./bio.html" id='bio'><strong>BIO</strong></a>
			<a href="./gallery.html" id='gallery'><strong>GALLERY</strong></a>
			<a href='./video.html' id='video'><strong>VIDEO</strong></a>
			<a href="./contact.html" id='contact'><strong>CONTACT</strong></a>
		</div>
	</div>

<main>  
  <div class="videoWrapper videoWrapper169">
    <video autobuffer autoloop loop controls>
    	<source src="">
    	<param name="src" value="/media/video.oga">
    	<param name="autoplay" value="false">
    	<param name="autoStart" value="0">
    	</object>
    </video>

    <!-- the poster frame - in the form of a button to make it keyboard accessible -->
    <button class="videoPoster" style="background-image:url(../static/img/poster/video_poster.jpg);">Play video</button>
  </div>
</main>

<div class='play-list'>
	<div class='selection-poster'></div>
</div>

<script type="text/javascript" src='../static/js/video.js'></script>
</body>
</html>